<% if obj.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(obj.errors.count, "error") %> <%= obj.class.name.downcase %> </h4>

    <ul>
      <% obj.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>